@*编辑页面模板*@
@using  CareerCRM.Mvc.Models.ViewModel;
@model TempViewModel
@{
    var datetimeFields = new List<string>();
    var boolFields = new List<string>();
}
@@section header
    {
<link href="~/js/ueditor/themes/default/css/ueditor.min.css" rel="stylesheet" />
    }
<!--添加/编辑窗口-->
<form class="layui-form layui-form-pane" action="" id="formEdit">
    <input type="hidden" name="Id" v-model="Id" />
    @foreach (string item in Model.DataList)
    {
        var datas = item.Split(',');
        var fieldName = datas[0];
        var descriptionName = datas[1];
        var fieldType = datas[2];
        if (fieldType == "string")
        {
            <div class="layui-form-item">
                <label class="layui-form-label">@(Html.Raw(descriptionName))</label>
                <div class="layui-input-block">
                    <input type="text" name="@fieldName" v-model="@fieldName" required lay-verify="required" placeholder="请输入@(Html.Raw(descriptionName))" autocomplete="off" class="layui-input">
                </div>
            </div>
        }
        else if (fieldType == "bool")
        {
            boolFields.Add(fieldName);
            <div class="layui-form-item">
                <label class="layui-form-label">@(Html.Raw(descriptionName))</label>
                <div class="layui-input-block">
                    <input type="radio" name="@fieldName" value="true" title="是">
                    <input type="radio" name="@fieldName" value="false" title="否">
                </div>
            </div>
        }
        else if (fieldType == "DateTime")
        {
            datetimeFields.Add(fieldName);
            <div class="layui-form-item">
                <label class="layui-form-label">@(Html.Raw(descriptionName))</label>
                <div class="layui-input-block">
                    <input type="text" name="@fieldName" id="@fieldName" class="layui-input" placeholder="yyyy-MM-dd">
                </div>
            </div>
        }

    }
    <!-- 如页面中字段需要使用富文本，使用下面注释的代码替换掉
            <div class="layui-input-block">
                <script id="myFormDesign" type="text/plain" style="width: 100%;">
                </script>
            </div>
     -->

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formSubmit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<!-- 如页面中字段需要使用富文本，将下面注释的代码开启 -->
<!--
<script type="text/javascript" charset="utf-8" src="~/js/ueditor/ueditor.config.js?123"></script>
<script type="text/javascript" charset="utf-8" src="~/js/ueditor/ueditor.all.js?123"></script>
<script type="text/javascript" charset="utf-8" src="~/js/ueditor/lang/zh-cn/zh-cn.js?123"></script>
<script type="text/javascript" charset="utf-8" src="~/js/ueditor/formdesign/leipi.formdesign.v4.js?123"></script>
-->
<script type="text/javascript" src="/layui/layui.js"></script>
<script>
    //如页面中字段需要使用富文本，将下面注释的代码开启， 初始化Ueditor
    //var ue = UE.getEditor('myFormDesign', {
    //    //allowDivTransToP: false,//阻止转换div 为p
    //    toolleipi: true,//是否显示设计器的 toolbars
    //    textarea: 'Content',//需使用富文本对应的字段名称（如果没有对应传值会失败）
    //    //这里可以选择自己需要的工具按钮名称,此处仅选择如下五个
    //    //toolbars: [[
    //    //    'fullscreen', 'source'
    //    //    , '|', 'undo', 'redo'
    //    //    , '|', 'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'removeformat'
    //    //    , '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist'
    //    //    , '|', 'fontfamily', 'fontsize'
    //    //    , '|', 'indent'
    //    //    , '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify'
    //    //    , '|', 'link', 'unlink'
    //    //    , '|', 'horizontal', 'spechars', 'wordimage'
    //    //    , '|', 'inserttable', 'deletetable', 'mergecells', 'splittocells']],
    //    //关闭字数统计
    //    wordCount: false,
    //    //关闭elementPath
    //    elementPathEnabled: false,
    //    autoHeightEnabled: true
    //    //默认的编辑区域高度
    //    , initialFrameHeight: 200
    //    , initialFrameWidth: 600
    //    //,initialContent: '欢迎使用ueditor!'
    //    , iframeCssUrl: "/js/ueditor/formdesign/bootstrap/css/bootstrap.min.css" //引入自身 css使编辑器兼容你网站css
    //    //更多其他参数，请参考ueditor.config.js中的配置项
    //});
    layui.config({
        base: "/js/"
    }).use(['form', 'vue', 'ztree', 'layer', 'laydate', 'jquery', 'table', 'droptree', 'openauth', 'utils'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery;
        var laydate = layui.laydate;
        var table = layui.table;
        var openauth = layui.openauth;
        var id = $.getUrlParam("id");   //获取传过来的ID
        var update = (id != null && id != '');
        var url = "/@Model.ModelName/Add";
        var vm = new Vue({
            el: "#formEdit"
        });
        if (update) {

            url = "/@Model.ModelName/Update";

            $.getJSON('/@Model.ModelName/Get?id=' + id,
                function (data) {
                    var obj = data;
                    vm.$set('$data', obj);
                    //如页面中字段需要使用富文本，使用下面注释的代码， 初始化Ueditor
                    //加个延迟方法ueditor才能正常,初步猜测是bootstrap-modalmanager.js（让Bootstrap支持多模态框）的处理方式比较特殊，导致模态框与富文本输入框共存时出现问题。
                    //setTimeout(function () {
                    //    ue.setContent(obj.Content);
                    //}, 500);
                    @if (boolFields.Count > 0)
                    {
                        foreach (var field in boolFields) {
                <text>
                    if (obj.@(field)) {
                        $("input[name='@(field)']").get(0).checked = true;
                    }
                    else {
                        $("input[name='@(field)']").get(1).checked = true;

                    }
                </text>
                        }
                       <text> form.render('radio');</text>
                    }
                            });
                        } else {
            vm.$set('$data',
                {
                            Id: '',
                    SortCode: 1
                });
        }


        //提交数据
        form.on('submit(formSubmit)',
            function (data) {
                $.post(url,
                    data.field,
                    function (data) {
                        layer.msg(data.Message);
                    },
                    "json");
                return false;
            });
        @if (datetimeFields.Count>0) {
            foreach (var item in datetimeFields) {
             <text>
        laydate.render({//初始化日期控件，常规用法
                elem: '#@(item)'
                });
             </text>
            }

        }

    })
</script>
