@*控制器模板*@
@using  CareerCRM.Mvc.Models.ViewModel;
@model TempViewModel
<p>
    using System;
    using System.ComponentModel;
    using  @(Model.ProjectName).Repository.Core;
    namespace  @(Model.ProjectName).App.Request
    {
    public class  @(Model.ModelName)FormDTO: Entity
    {

    @foreach (var item in Model.DataList)
    {
        var datas = item.Split(',');
        var fieldName = datas[0];
        var descriptionName = datas[1];
        var fieldType = datas[2];
        <text>
            /// <summary>
            /// @Html.Raw(descriptionName)
            ///</summary>
            [Description("@Html.Raw(descriptionName)")]
            public @(fieldType) @(fieldName) { get; set; }
        </text>

    }

    }
    }

</p>

